<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMS Admin1</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
            margin: 15px auto;
            width: 70%;
            /*controling the size of the table*/
        }

        th,
        td {
            /* text-align: left;*/
            border: 1px solid black;
            padding: 10px;
        }

        th {
            text-align: center;
        }

        tr:nth-child(even) {
            /*background-color: rgba(150, 212, 212, 0.4);*/
            background-color: floralwhite;
        }

        /*th:nth-child(even),*/
        tr:nth-child(odd) {
            /* background-color: rgba(150, 212, 212, 0.4);*/
            background-color: snow;
        }

        td label {
            display: block;
            text-align: right;

        }

        div.col {
            margin: 12px auto;
        }

        td label {
            text-align: right;
        }

        input {
            padding: 5px;
        }

        input[type="date"] {
            width: 162px;
        }

        input[type="button"] {
            width: 177px;
        }

        div.row {
            margin: 71px auto;
        }

        * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        body {
            background-color: seashell;
            margin: 0;
        }

        div.container {
            overflow: auto;
            margin: auto;
        }

        td a,
        input[type='submit'] {
            border: 1px solid black;
            padding: 3px 52px;
            text-decoration: none;
            color: aqua;
            background: black;
        }

        td a:hover,
        input[type='submit']:hover {
            background-color: darkgoldenrod;
        }

        nav {
            background-color: black;
            padding: 10px;
        }

        nav a {
            text-decoration: none;
            display: inline-block;
            padding: 3px;
            font-size: larger;
        }

        a.right {
            float: right;
        }

        select {
            width: 150px;
        }

        td.right {
            text-align: right;
        }
    </style>
    <script>
        function typeChange() {
            field = document.getElementById('fieldUpdate').value;
            if (field == 'processingDate' || field == 'availableToPromiseDate') {
                document.getElementById('newValue').type = 'date';
            }
            else {
                document.getElementById('newValue').type = 'text';
            }
            if (field == 'processingDays' || field == 'cutOff' || field == 'min' || field == 'max') {
                document.getElementById('newValue').type = 'number';
            }
            else {
                document.getElementById('newValue').type = 'text';
            }
        }
    </script>
</head>

<body>
    <nav>
        <a href="../omsadmin/{{adminName}}" id="home">Home</a>
        <a href="/omsapp/registration" id="reg" class="right">Register</a>
        <a href="/omsapp/loginpage" id="log" class="right">Login/</a>
        <a href="../logout" id="logout" style="display: none;" class="right">Logout</a>
    </nav>
    {% if adminName %}
    <script>
        document.getElementById('reg').style.display = 'none';
        document.getElementById('log').style.display = 'none';
        document.getElementById('logout').style.display = 'inline-block';
    </script>
    {% else %}
    <script>
        document.getElementById('home').href = 'omsadmin';
    </script>
    {% endif %}

    {% if adminName == '' %}
    <script>
        document.getElementById('show').href = 'omsadmin';
        document.getElementById('addform').action = 'omsadmin';
        document.getElementById('updateform').action = 'omsadmin';
        document.getElementById('deleteform').action = 'omsadmin';

        document.getElementById('show').addEventListener("click",alertLogin);
        function alertLogin() {
            alert('please login');

            return false;
        }
    </script>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col">
                <table style="border: none;">
                    <tr>
                        <th style="border: none;"> OMS Admin {{adminName}}</th>
                    </tr>
                </table>
            </div>
            <div class="col">
                <form action="../add/{{adminName}}" method="get" id="addform" onsubmit="return alertLogin()">
                    <table>
                        <tr>
                            <td>
                                <label for="brand">Brand</label>
                            </td>
                            <td>
                                <input type="text" id="brand" name="brand" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="shipMethod">Ship Method</label>
                            </td>
                            <td>
                                <input type="text" id="shipMethod" name="shipMethod" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="processingDays">Processing Days</label>
                            </td>
                            <td>
                                <input type="number" id="processingDays" name="processingDays" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="processingDaysType">Processing Days Type</label>
                            </td>
                            <td>
                                <input type="text" id="processingDaysType" name="processingDaysType" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="min">Min</label>
                            </td>
                            <td>
                                <input type="number" id="min" name="min" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="max">Max</label>
                            </td>
                            <td>
                                <input type="number" id="max" name="max" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="processingDate">Processing Date</label>
                            </td>
                            <td>
                                <input type="date" id="processingDate" name="processingDate" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="availableToPromiseDate">Available To Promise Date</label>
                            </td>
                            <td>
                                <input type="date" id="availableToPromiseDate" name="availableToPromiseDate" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="cutOff">CutOff</label>
                            </td>
                            <td>
                                <input type="number" id="cutOff" name="cutOff" required>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <a href="../show/{{adminName}}" id="show">Show</a>
                            </td>
                           {% if adminName == '' %}
                            <script>
                                document.getElementById('show').href = 'omsadmin';
                                document.getElementById('show').addEventListener("click", function () { alert('please login'); });
                            </script>
                            {% endif %}
                            <td>
                                <input type="submit" id="add" value="Add">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col">
                <table style="border: none;">
                    <tr>
                        <th style="border: none;"> OMS Admin update details</th>
                    </tr>
                </table>
                <form action="../update/{{adminName}}" method="get" id="updateform" onsubmit="return alertLogin()">
                    <table>
                        <tr>
                            <td>
                                <label for="idUpdate">Select id to update</label>
                            </td>
                            <td>
                                <select name="idUpdate" id="idUpdate">
                                    {% for x in mydetails %}
                                    <option value="{{x.id}}">{{x.id}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="fieldUpdate">Select field to update</label>
                            </td>
                            <td>
                                <select name="fieldUpdate" id="fieldUpdate" onchange="typeChange()">
                                    <option value="brand">Brand</option>
                                    <option value="shipMethod">Ship Method</option>
                                    <option value="processingDays">Processing Days</option>
                                    <option value="processingDaysType">Processing Days Type</option>
                                    <option value="min">Min</option>
                                    <option value="max">Max</option>
                                    <option value="processingDate">Processing Date</option>
                                    <option value="availableToPromiseDate">Available To Promise Date</option>
                                    <option value="cutOff">CutOff</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="newValue">Enter new value</label>
                            </td>
                            <td>
                                <input type="text" id="newValue" name="newValue" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="right">
                                <input type="submit" id="update" value="Update">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col">
                <table style="border: none;">
                    <tr>
                        <th style="border: none;"> OMS Admin delete details</th>
                    </tr>
                </table>
                <form action="../delete/{{adminName}}" method="get" id="deleteform" onsubmit="return alertLogin()">
                    <table>
                        <tr>
                            <td>
                                <label for="idDelete">Select Id to delete</label>
                            </td>
                            <td>
                                <select name="idDelete" id="idDelete">
                                    {% for x in mydetails %}
                                    <option value="{{x.id}}">{{x.id}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="right">
                                <input type="submit" name="delete" id="delete" value="Delete">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="row">
            {% if verify %}
            <div class="col">
                <table style="border: none;">
                    <tr>
                        <th style="border: none;"> OMS Admin Details</th>
                    </tr>
                </table>
            </div>
            <div class="col">
                {% for x in mydetails %}
                <table>
                    <tr>
                        <td>
                            Id
                        </td>
                        <td>
                            {{x.id}}
                        </td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>{{x.brand}} </td>
                    </tr>
                    <tr>
                        <td>Ship Method</td>
                        <td>{{x.shipMethod}}</td>
                    </tr>
                    <tr>
                        <td>processing Days</td>
                        <td>{{x.processingDays}}</td>
                    </tr>
                    <tr>
                        <td>processing Days Type</td>
                        <td>{{x.processingDaysType}}</td>
                    </tr>
                    <tr>
                        <td>Min</td>
                        <td>{{x.min}}</td>
                    </tr>
                    <tr>
                        <td>
                            Max
                        </td>
                        <td>{{x.max}}</td>
                    </tr>
                    <tr>
                        <td>Processing Date</td>
                        <td>{{x.processingDate}}</td>
                    </tr>
                    <tr>
                        <td>Available To Promise Date</td>
                        <td>{{x.availableToPromiseDate}}</td>
                    </tr>
                    <tr>
                        <td>Cut Off</td>
                        <td>{{x.cutOff}}</td>
                    </tr>
                </table>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                {% if addverify %}
                <script>
                    alert('added successfuly');
                </script>
                {% endif %}
            </div>
            <div class="col">
                {% if updateverify %}
                <script>
                    alert('updated successfuly');
                </script>
                {% endif %}
            </div>
            <div class="col">
                {% if deleteverify %}
                <script>
                    alert('deleted successfuly');
                </script>
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>